footer {
	padding: 30px 0;
	.communication {
		.adress,
		.phone-number {
			// padding: 0 10px;
			.fa {
				font-size: 20px;
				margin-right: 5px;
				color: #fff;
			}
		}

		.adress,
		.phone-number,
		.info-center {
			display: flex;
			align-items: center;
			color: #fff;
			text-decoration: none;
			&.phone-ident {
				margin-left: 5px;
			}
		}

		.social {
			display: flex;
			justify-content: space-between;
			width: 170px;
			a {
				width: 35px;
			    background: #cd2f47;
			    border-radius: 110%;
			    display: flex;
			    height: 35px;
			    justify-content: center;
			    align-items: center;
			    text-decoration: none;
			    .fa {
					font-size: 15px;
					color: #fff;
			    }
			}
		}
	}
	.list-set {
		list-style-type: none;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0;
		li {
			a {
				color: #fff;
				text-decoration: none;
				transition: 250ms;
				&:hover {
					color: #cd2f47;
				}
			}
		}
	}

	.weblogo {
	    opacity: 0.6;
	    display: block;
	    width: 105px;
	    margin-top: 30px;
	    margin-left: auto;
	    transition: opacity 250ms ease-out;
	    &:hover {
    	    opacity: 1;
	    }
	}
}