@media (max-width: 1199px) {
	header {
		.communication {
			.btn {
				width: 140px;
			}
		}
	}
}

@media (max-width: 991px) {
	header {
		.logo {
			padding: 20px 0;
		}
		.nav-set {
			.navbar-header {
				.icon-bar {
					background: #031445;	
				}
			}

			.navbar-collapse {
				padding: 0;
				.nav-list {
					float: none;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					li {
						&:first-child {
							a {
								padding-left: 0px;
							}
						}
					}
				}
			}
		}
	}
}