body {
  font: 300 14px "Roboto", "Arial", sans-serif;
  color: #a6b1b7;
}
.back-color {
  background: #031445;
}
.btn {
  width: 200px;
  color: #fff;
  display: block;
  padding: 11px 0;
  border-radius: 10px;
  border: none;
  background: #011745;
}
.btn.btn-red {
  background: #ce3045;
  margin-left: auto;
}
.btn.ident-top {
  margin-top: 35px;
}
.btn:hover {
  color: #fff;
}
.btn:focus {
  color: #fff;
  outline: none;
}
.btn:focus:active {
  outline: none;
}
.title-name {
  font: 900 17px "Roboto", "Arial", sans-serif;
  color: #031445;
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}
.title-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 115px;
  height: 1px;
  background: #dce1e3;
}
.title-name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 1;
  width: 38px;
  height: 3px;
  background-color: #ce3045;
}
.title-slide {
  font: 900 40px "Roboto", "Arial", sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 90px;
}
header .logo {
  display: block;
  background: #031445;
  padding: 40px 0;
}
header .logo img {
  margin: 0 auto;
}
header .communication {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 35px;
  padding-bottom: 33px;
}
header .communication .phone-number {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}
header .communication .phone-number .phone-ident {
  margin-left: 5px;
}
header .communication .info-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #a6b1b7;
}
header .communication .info-center:hover {
  text-decoration: none;
}
header .communication .fa {
  color: #e60000;
  font-size: 20px;
  margin-right: 5px;
}
header .nav-set {
  margin-bottom: 0;
}
header .nav-set .nav-list {
  float: right;
}
header .nav-set .nav-list li a {
  font-size: 17px;
  text-transform: uppercase;
  color: #a6b1b7;
  transition: 250ms;
}
header .nav-set .nav-list li a:hover {
  background: transparent;
  color: #010f42;
}
header .nav-set .nav-list li a:active {
  background: transparent;
}
header .nav-set .nav-list li a:focus {
  background: transparent;
}
header .nav-set .nav-list li:last-child a {
  padding-right: 0;
}
footer {
  padding: 30px 0;
}
footer .communication .fa {
  font-size: 20px;
  margin-right: 5px;
  color: #fff;
}
footer .communication .adress,
footer .communication .phone-number,
footer .communication .info-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #fff;
}
footer .communication .adress.phone-ident,
footer .communication .phone-number.phone-ident,
footer .communication .info-center.phone-ident {
  margin-left: 5px;
}
footer .communication .social a {
  margin-right: 15px;
}
footer .list-set {
  list-style-type: none;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .list-set li a {
  color: #fff;
}
footer .weblogo {
  opacity: 0.6;
  display: block;
  width: 105px;
  margin-top: 30px;
  margin-left: auto;
  transition: opacity 250ms ease-out;
}
footer .weblogo:hover {
  opacity: 1;
}
main .owl-carousel {
  position: relative;
}
main .owl-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 28, 71, 0.3);
}
main .feedback {
  background: url("img/fon-2.jpg") no-repeat center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
  z-index: 1;
}
main .feedback::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 28, 71, 0.6);
}
main .feedback .exhortation {
  position: relative;
}
main .feedback .exhortation .text-exhoration {
  position: absolute;
  top: -25px;
  left: 0;
  font: 900 115px/120px "Playfair Display SC", "Arial", sans-serif;
  margin-bottom: 0;
  opacity: 0.28;
  color: #fff;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}
main .feedback form .form-control {
  border-radius: 0;
}
main .boats {
  position: relative;
}
main .boats .tabs-control {
  position: absolute;
  top: -98px;
  left: 0;
  width: 100%;
  z-index: 1;
}
main .boats .tabs-control .tab {
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 0;
  background-color: #031445;
  transition: 250ms;
  font-weight: 900;
}
main .boats .tabs-control .tab.active {
  background: #fff;
  color: #031445;
}
main .boats .tabs-control .tab img {
  margin-bottom: 15px;
}
main .boats .tab-content {
  padding: 60px 0;
}
main .advantages {
  padding-top: 45px;
  padding-bottom: 45px;
}
main .advantages .pluses {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 50px;
}
main .advantages .pluses p {
  margin-bottom: 0;
  margin-left: 25px;
}
@media (max-width: 1199px) {
  header .communication .btn {
    width: 140px;
  }
}
@media (max-width: 991px) {
  header .logo {
    padding: 20px 0;
  }
  header .nav-set .navbar-header .icon-bar {
    background: #031445;
  }
  header .nav-set .navbar-collapse {
    padding: 0;
  }
  header .nav-set .navbar-collapse .nav-list {
    float: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  header .nav-set .navbar-collapse .nav-list li:first-child a {
    padding-left: 0px;
  }
}
